body{
    background-color: #23272a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
/* page layout  */
#container{
    display: grid;
    gap: 1rem;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 4rem  auto auto auto;
    grid-template-areas: 
    "header header header header header header "
    "search  cWeather cWeather cWeather cWeather cWeather"
    "searchH  cWeather cWeather cWeather cWeather cWeather"
    "searchH  cWeather cWeather cWeather cWeather cWeather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather"
    "searchH  fWather fWather fWather fWather fWather";
} 

#banner{
    grid-area: header;
    background-color: white;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(#5866ef, #09b0f2);
}
#searchBar{
    grid-area:search;
    background-color: white;
}
#searchHistory{
    grid-area:searchH;
    background-color: white;
}
#curretForcast{
    grid-area:cWeather;
    background-color: white;
}
#futureForcast{
    grid-area:fWather;
    background-color: white;
}
/* ------------------------------------ */

/* Page stlying */


/* Search Box */
#search{
    text-align: center;
    display:flex;
    flex-direction: column;
}

#city{
height: 30px;
}

input[type=submit]{
    background: #09b0f2;
    padding:5px 15px; 
}

/* Search History  */
#searchHistory{
    text-align: center;
    display:flex;
    flex-direction: column;
}

.btn-primary{
    background-color: #09b0f2;
    height: 32px;
    width: auto;
}

 .historyList{
    padding-right: 32px;
}

ol button.btn{
    width: 300px;
    margin-top: 1rem;

}

#history{
  margin-top: 1rem;
}

/* Wather Status  */

ul#weatherStat{
    padding-left:0;
    line-height: 3rem; 
    margin-bottom: 15px
}

ol#uv{
    display: inline-flex;
}
ol#wind{
    margin-top: 10px;
}
div#uvBox{
    border: .1px solid black;
    margin-left: 5px;
    width: fit-content ;
    padding-right:5px;
    padding-left: 5px;
    justify-content: center;

}

.danger{
    background-color: #ec4145;
}
.ok{
    background-color: #f9a62b;
}
.good{
    background-color: #3da560;
}

/* 5 day Forcast board */

#futureForcast{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    gap:1rem;
    grid-template-areas: 
    " tittle tittle tittle tittle tittle"
    " day1 day2 day3 day4 day5"
}

.weatherBoard{
    border: 3px solid black;
    width: 140px;
    height: 200px;
    background: #4f5d7e;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
/* forcast boards  */
#forcastTittle{
    grid-area:tittle;
    text-align: center;
}
#day1{
    grid-area:day1;
    
}
#day2{
    grid-area:day2;
}
#day3{
    grid-area:day3;
}
#day4{
    grid-area:day4;
}
#day5{
    grid-area:day5;
}

/* Icon css  */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}